html {
  font-size: $mainFontSize;
}

html, body {
  max-width: 100%;
  max-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  color: $colorText;
}

header {
  padding: calculateRem(30px);
  background-color: $colorPrimary;
  margin-bottom: calculateRem(60px);
  -webkit-transition: padding 300ms;
  -moz-transition: padding 300ms;
  -ms-transition: padding 300ms;
  -o-transition: padding 300ms;
  transition: padding 300ms;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

h1 {
  color: #fff;
  font-family: $fontFamilySecond;
  font-weight: 200;
  @include rhythm(34, 34);
  @include media-breakpoint-down(md) {
    @include rhythm(22, 34);
  }
}

h2, h3, h4 {
  margin-bottom: calculateRem(30px);
}