// Font size + line height
@mixin fontSizeDefault($sizeValue) {
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.0625 * $sizeValue) + rem;
}
@mixin lineHeightDefault($heightValue) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.0625 * $heightValue) + rem;
}
// Font size + line height combined
@mixin rhythm($sizeValue, $heightValue) {
  @include fontSizeDefault($sizeValue);
  @include lineHeightDefault($heightValue);
}

// Center absolutely positioned content
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}