.logo {
  height: 34px;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -ms-transition: height 300ms;
  -o-transition: height 300ms;
  transition: height 300ms;
  max-width: 100%;
}

.fixed-header {
  position: fixed;
  padding: calculateRem(15px);
  z-index: 55;
  width: 100%;
  -webkit-transition: padding 300ms;
  -moz-transition: padding 300ms;
  -ms-transition: padding 300ms;
  -o-transition: padding 300ms;
  transition: padding 300ms;
  .logo {
    height: 15px;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
  }
  h1 {
    @include rhythm(15, 15);
  }
}

.error-message {
  padding: 30px;
  margin: 0;
}

.atm-element {
  margin-bottom: calculateRem(30px);
  background-color: $colorBckg;
  color: #fff;
  padding: calculateRem(30px);
}

.map-image {
  background-position: center;
  max-width: 100%;
  line-height: 0;
  min-height: calculateRem(330px);
  position: relative;
  .directions-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    &:hover {
      opacity: 1;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      -ms-transition: opacity 300ms;
      -o-transition: opacity 300ms;
      transition: opacity 300ms;
    }
    .get-directions-btn {
      @include centerAbsolute;
      @include rhythm(20, 20);
      background-color: $colorPrimary;
      color: #fff;
      font-family: $fontFamilySecond;
      padding: calculateRem(15px);
    }
  }
}

.negative-text {
  color: $colorText;
  line-height: 0;
}

.button-container {
  margin-bottom: calculateRem(30px);
  .sort-button {
    margin-left: calculateRem(15px);
    margin-right: calculateRem(15px);
    background-color: $colorPrimary;
    color: #fff;
    font-family: $fontFamilySecond;
    @include rhythm(20, 20);
    border: none;
    outline: none;
    padding: calculateRem(15px);
    font-weight: 700;
    cursor: pointer;
  }
}

h2, h4 {
  span {
    font-family: $fontFamilySecond;
    font-weight: 200;
  }
}

h3 {
  span {
    color: $colorPrimary;
  }
}