$enable-flex: true !default;
$mainFontSize: 16px;

// Calculate rem
@function calculateRem($size) {
  $remSize: $size / $mainFontSize;
  @return $remSize * 1rem;
}

// Font family
$fontFamilyFirst: 'Open Sans', sans-serif;
$fontFamilySecond: 'Oswald', sans-serif;

// Colors
$colorPrimary: #96ca3a;
$colorText: #333;
$colorBckg: #222;